<html>

<head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/index_style.css" />
    <script src="/static/ghibli.js" type='text/javascript'></script>
    <title>吉卜力工作室电影集</title>
</head>

<body>
    <h1>吉卜力工作室电影集</h1>
    <div class="div_total">
        <div class="div_msg">
            {% if msg %}
            <span class="span_msg_title">处理结果：</span>
            <span class="span_msg">{{ msg }}</span>
            {% endif %}
        </div>
        <div class="div_action">
            <div class="div_refresh">
                <button onclick="location.href='/'">刷新</button>
            </div>
            <div class="div_add_film">
                <button onclick="location.href='/add_film'">增加电影</button>
            </div>
        </div>
        <div class="three, div_table" id="content">
            <div class="div_table_row">
                <div class="div_table_head_id"><strong>编号</strong></div>
                <div class="div_table_head_title"><strong>名称</strong></div>
                <div class="div_table_head"><strong>导演</strong></div>
                <div class="div_table_head"><strong>制片人</strong></div>
                <div class="div_table_head"><strong>发行日期</strong></div>
                <div class="div_table_head"><strong>评分</strong></div>
                <div class="div_table_head_last">操作</div>
            </div>
        </div>
    </div>
</body>

</html>