<html>

<head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/info_style.css" />
    <script src="/static/ghibli.js" type='text/javascript'></script>
    <title>吉卜力工作室电影</title>
</head>

<body>
    <h1>吉卜力工作室电影</h1>
    <div class="div_total">
        <div class="block">
            <label for="id">电影编号：</label>
            <span name="id">{{ film.id }}</span>
        </div>
        <div class="block">
            <label for="title">电影名称：</label>
            <span name="title">{{ film.title }}</span>
        </div>
        <div class="block">
            <label for="director">导演：</label>
            <span name="director">{{ film.director }}</span>
        </div>
        <div class="block">
            <label for="producer">制片人：</label>
            <span name="producer">{{ film.producer }}</span>
        </div>
        <div class="block">
            <label for="release_date">发行日期：</label>
            <span name="release_date">{{ film.release_date }}</span>
        </div>
        <div class="block">
            <label for="rt_score">评分：</label>
            <span name="rt_score">{{ film.rt_score }}</span>
        </div>
        <div class="block">
            <label for="url">网址：</label>
            <span name="url">{{ film.url }}</span>
        </div>
        <div class="block">
            <label for="description">电影介绍：</label>
            <p name="description">{{ film.description }}</p>
        </div>
        <div class="block">
            <label for="locations">Locations：</label>
            {% for location in locations %}
                <p name="locations">{{ location.url }}</p>
            {% endfor %}
        </div>
        <div class="div_return">
            <button type="button" onclick="location.href='/'">返回</button>
        </div>
    </div>
</body>

</html>