<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
  <form action = "/add" method = "POST">
     <p><h3>添加数据</h3></p>
     <p>
        <span>姓名：  </span>
     	<input type = 'text' name = 'name'/>
     </p>
     <p>
        <span>年龄：  </span>
        <input type = 'text' name = 'age'/>
     </p>
     <p>
        <span>密码：  </span>
        <input type = 'text' name = 'password'/>
     </p>
     <p>
        <span>电话：  </span>
        <input type = 'text' name = 'phone'/>
     </p>
     <p><button type = 'submit'/>提交</button></p>
  </form>
  <table>
      <tr>
          <td>姓名</td>
          <td>年龄</td>
          <td>电话</td>
      </tr>
      {% for user in users %}
      <tr>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.phone}}</td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>